<?xml version="1.0" encoding="UTF-8" standalone="yes"?><config><activitySupport>true</activitySupport><cleaningDistance>2.0</cleaningDistance><defaultExt></defaultExt><gpsiesUsername>rfuegen</gpsiesUsername><lastOpenDirectory>D:\Projekte\Touring\Exports</lastOpenDirectory><lastSaveDirectory>D:\Projekte\Touring\Exports</lastSaveDirectory><lat>48.431136904539635</lat><lon>13.869209289550781</lon><positionZoom>13</positionZoom><screenTime>15</screenTime><showWarning>true</showWarning><tempDirectory></tempDirectory><trackLineWidth>2.5</trackLineWidth><unitSystem>METRIC</unitSystem><zoomControls>false</zoomControls></config>