<?xml version="1.0" encoding="UTF-8" standalone="yes"?><config><activitySupport>true</activitySupport><cleaningDistance>2.0</cleaningDistance><defaultExt></defaultExt><lastOpenDirectory>D:\Projekte\Touring\Temp</lastOpenDirectory><lastSaveDirectory>D:\Projekte\Touring\GPSTracks</lastSaveDirectory><lat>48.24662559071382</lat><lon>16.6387939453125</lon><positionZoom>11</positionZoom><screenTime>15</screenTime><showWarning>true</showWarning><tempDirectory></tempDirectory><trackLineWidth>2.5</trackLineWidth><unitSystem>METRIC</unitSystem><zoomControls>false</zoomControls></config>